<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Trip Planner</title>
		<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/tripplanner.css">
		<script src="../jquery/jquery.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW_E-6bJWU_b9Akcc6QnI94HGgoGV9u1k&sensor=true"></script>
		<script src="../scripts/mapscript.js"></script>
		<script src="../scripts/buttons.js"></script> 
	</head>
	<body>
		<div class="navbar">
			<div class="container">
				<ul>
					<li>
						<a href="/">Book ¡t</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
					<li>
						<a href="/about">About</a>
					</li>
					<li>
						<a href="/investors">Investor Relations</a>
					</li>
				</ul>
			</div>
		</div>
		{% block body %}{% endblock %}
	</body>
</html>
